@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}
#container {
 /* border: solid 3px #474544;*/
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}
.modulo_1{
  padding: 2%;
}

.contenedor_grey{
  background-color: #F1F3F4;
  width: 100%;
  padding: 1%;
}
.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 90%;
}

.darkgray{
  background-color: #EBEBEB;
  width: 100%;
  margin-bottom: 1%;
  padding: 1%;
  height: 200px;


}
.row>* {
  flex-shrink: 0;
  width:auto;
}

.rank{
  width: 100%;
  /* max-width: 768px; */
  --bs-gutter-x: 0;

}
#cover{
  --bs-gutter-x: 0;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}
.number{
  font-size: 35px;
  font-weight: bold;
  margin: 5px 0;
  padding: 0px;
  color: #78AE9F;
  text-align: center;
  width: auto !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.personal{

  padding-top: 7px;
  width: 300px !important; 
}
.personal p{
  margin-top: 10px;
}
.avatar{
  font-size: 95px;
  color: #78AE9F;
  float: left;
  margin: 0 20px 0px 20px;
  position: relative;
  text-align: left; 
}

.corazon{
  color: red;
  letter-spacing: 8px;
}
.bocadillo{
  color: #E0BB23;
  letter-spacing: 8px;
}
.rayo{
  color: #24968E;
  letter-spacing: 8px;
}
.pages{
  text-align: center;

}
.minletter{
  font-size: 13px;
  color:#E0BD2A ;
  font-weight: bold;
}
.actividad{
  text-align: right;
  padding-top: 7px;
}
.sync p{
  font-size: 14px;
  font-weight: bold;
  padding-top: 70px;
  margin-bottom: 0px;
}
.pasos{
  font-size: 35px;
  font-weight: bold;
}
.walk{
  font-size: 15px;
  font-weight: bold;
}
.letterblue{
  color: #78A7A0;
}
.arrowgreen{
  color: green;
  text-align: right;
  width: 95px !important;
  margin-top: 50px !important;

}

.arrowred{
  color: red;
  text-align: right;
  width: 95px !important;
  margin-top: 50px !important;
  
}

.circulo{

  text-align: right;
  width: 65px !important;
  font-weight: bold;
  font-size: 65px;
  margin: auto;
  /* margin: 0 15px; */
  max-width: 100px !important;
  right: -1%;
  position: relative;
}
/*button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

label{
  width: max-content;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}*/



/*form {
  padding: 37.5px;
  margin: 50px 0;
}*/


/*h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}*/



/*
.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.diary {
	float: right;
	width: 35%;
}

input[type='text'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
 	width: 100%;
 	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}*/

/* input[type='text']:focus, [type='text']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
} */
/*
.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}
*/
/*
@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='diary'], select, textarea {
    font-size: 0.875em;
  }
}